body {
    font-family: 'Noto Sans TC', sans-serif;
}

.bg_store1 {
    width: 100%;
    background-image: url(../img/bg_cat_5.png) , url(../img/bgabout1.png), url(../img/bgabout4.png), url(../img/bgabout5.png), url(../img/bgabout3.png) , url(../img/bgabout2.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right top , right top , left center , center , right center , right bottom ;
}

.ab_title , .st_title {
    position: relative;
}

/* -----關於喵物----- */

.about2 {
    width: 100%;
    display: flex;
    margin: 100px 0px;
}

.ab_title img {
    width: 100%;
}

.ab_title p {
    position: absolute;
    font-size: 32px;
    color: white;
    letter-spacing: 1px;
    top: 45%;
    right: 35%;
}

.about_main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.ab_text {
    width: 650px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.ab_text p {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-top: 16%;
    margin-left: 23%;
}

/* -----------門市資訊----------- */

.store {
    width: 100%;
    display: flex;
    margin-bottom: 100px;
}

.st_img img {
    width: 100%;
}

.st_title p{
    position: absolute;
    font-size: 32px;
    color: white;
    letter-spacing: 1px;
    top:45%;
    right: 35%;
}

.store_dtl {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.st_text {
    width: 650px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.st_text .st_p {
    margin-left: 20%;
    margin-top: 15%;
}

.st_text p {
    padding: 10px 0px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
}

/* ------手機版設定--------- */

.about2_m , .store_m {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.ab_title_m , .st_title_m {
    position: relative;
    margin-top: 50px;
}

.st_title_m p {
    position: absolute;
    font-size: 28px;
    color: white;
    top:40%;
    left: 35%;
}

.ab_title_m p {
    position: absolute;
    font-size: 28px;
    color: white;
    top:40%;
    left: 35%;
}

.about_main_m , .store_dtl_m {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 10px;
}

.ab_text_m , .st_text_m {
    position: relative;
    width: 330px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.st_p_m {
    position: absolute;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    top: 30%;
    left: 12%;
}

.st_name_m {
    padding-bottom: 10px;
}

.ab_text_m p {
    position: absolute;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 1px;
    top: 30%;
    left: 12%;
}

/* ------------- */

@media (width < 1024px) {
    .about2 , .about_main , .store , .store_dtl {
        display: none;
    }
}

@media (width > 1024px) {
    .about2_m , .about_main_m {
        display: none;
    }
}