body {
    font-family: 'Noto Sans TC', sans-serif;
}

.bg_store1 {
    width: 100%;
    background-image: url(../img/bg_cat_5.png) , url(../img/bgabout1.png), url(../img/bgabout4.png), url(../img/bgabout5.png), url(../img/bgabout3.png) , url(../img/bgabout2.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right top , right top , left center , center , right center , right bottom ;
}

/* -----關於喵物----- */

.about2 {
    width: 100%;
    display: flex;
    margin: 100px 0px 100px 0px;
}

.ab_title {
    position: relative;
}

.ab_title img {
    width: 100%;
}

.ab_title p {
    position: absolute;
    font-size: 32px;
    color: white;
    letter-spacing: 1px;
    top: 45%;
    right: 35%;
}

.about_main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 120px;
    margin-left: 30px;
}

.ab_text {
    width: 600px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.ab_text p {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-top: 15%;
    margin-left: 15%;
}

/* -----------門市資訊----------- */

.store {
    width: 100%;
    display: flex;
    margin-bottom: 100px;
}

.st_title {
    position: relative;
}

.st_title p{
    font-size: 32px;
    color: white;
    position: absolute;
    top: 90px;
    right: 220px;
}

.st_img img {
    width: 100%;
}

.store_dtl {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 120px;
    margin-left: 30px;
}

.store_dtl .st_text {
    width: 708px;
    height: 387px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.store_dtl .st_text .st_p {
    width: 708px;
    height: 387px;
    margin-left: 140px;
    margin-top: 120px;
}

.store_dtl .st_text .st_p > p {
    padding: 10px 0px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
}

/* ------手機版設定--------- */

@media (max-width:1024px) {
    .about2 {
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }

    .store {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:768px) {
    .ab_text p {
        font-size: 18px;
        margin-top: 18%;
        margin-left: 13%;
    }
}