body {
    font-family: 'Noto Sans TC', sans-serif;
}

.bg_store1 {
    max-width: 1920px;
    width: 100%;
    background-image: url(../img/bg_cat_5.png) , url(../img/bgabout1.png), url(../img/bgabout4.png), url(../img/bgabout5.png), url(../img/bgabout3.png) , url(../img/bgabout2.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center top , right top , left center , center , right center , right bottom ;
}

.about2 {
    display: flex;
    margin: 100px 0px 100px 0px;
}

.about2 .ab_title {
    position: relative;
}

.about2 .ab_title p {
    position: absolute;
    font-size: 32px;
    color: white;
    font-family: 'Noto Serif TC', serif;
    top: 90px;
    right: 220px;
}

.about_main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
    margin-left: 30px;
}

.about_main .ab_text {
    width: 708px;
    height: 387px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.about_main .ab_text > p {
    font-size: 20px;
    font-family: 'Noto Sans TC', serif;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-left: 120px;
    margin-top: 120px;
}

/* ---------------------- */

.store {
    display: flex;
    margin-bottom: 100px;
}

.store .st_title {
    position: relative;
}

.store .st_title > p{
    font-size: 32px;
    color: white;
    font-family: 'Noto Serif TC', serif;
    position: absolute;
    top: 90px;
    right: 220px;
}

.store_dtl {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
    margin-left: 30px;
}

.store_dtl .st_text {
    width: 708px;
    height: 387px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.store_dtl .st_text .st_p {
    width: 708px;
    height: 387px;
    margin-left: 140px;
    margin-top: 120px;
}

.store_dtl .st_text .st_p > p {
    padding: 10px 0px;
    font-size: 20px;
    font-family: 'Noto Sans TC', serif;
    letter-spacing: 1px;
    line-height: 1.5;
}

/* ------------------ */

.footer{
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: rgba(208, 189, 159, 1);
    font-family: 'Noto Serif TC', sans-serif;
}

.footer hr {
    border: none;
    height: 1px;
    background-color: white;
}

.footer .contact {
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-top: 50px;
}

.footer .contact .ct_dtl {
    margin: 20px 0px;
}

.footer .follow {
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-top: 50px;
}

.footer .follow .fw_icons a{
    text-decoration: none;
}

.footer .follow .fw_icons {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 10px 0px;
}

.footer .end {
    width: 100%;
    display: block;
    margin: 50px 0px 0px 0px;
    font-size: 16px;
    text-align: center;
    color: white;
}