body {
    font-family: 'Noto Sans TC', sans-serif;
}

.nav_bg {
    max-width: 1920px;
    width: 100%;
    background-image: url(../img/cart2.png), url(../img/cart1.png), url(../img/cart4.png), url(../img/cart3.png) , url(../img/cartbg1.png) , url(../img/cartbg5.png) , url(../img/cartbg3.png) , url(../img/cartbg2.png) , url(../img/cartbg4.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right top , left top , left top , left top , left center , left center , right center , right center , right bottom;
}

/* ------------- */

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
}

.nav .buywhat , .info , .done {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin: 0px 10px;
    border-radius: 20px;
}

.nav p {
    font-size: 20px;
    color: rgba(37, 25, 10, 1);
    letter-spacing: 1px;
    text-align: center;
}

/* --------購物車內容------------- */

.cart_nav {
    height: auto;
    background-color: rgba(163, 153, 128, 1);
    padding: 30px;
    margin: 60px 0px;
}

.cart_nav p {
    font-size: 24px;
    color: white;
    letter-spacing: 1px;
    text-align: center;
}

/* --------- */

.cart_main {
    max-width: 1920px;
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgba(78, 56, 27, 0.2) ;
    padding-bottom: 30px;
}

.items p {
    font-size: 20px;
    color:rgba(37, 25, 10, 1);
    letter-spacing: 1px;
    text-align: center;
}

/* ----------------------- */

.cart_main .dtls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 30px 0px;
}

.dtls > .col {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------------- */

.dtls input[type="checkbox"] {
    display: none;
}

.dtls input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
}

.dtls input[type="checkbox"] + label::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    border: 2px solid rgba(163, 138, 98, 1);
    border-radius: 10px;
    z-index: 1;
}

.dtls input[type="checkbox"]:checked + label::before {
    background-color: rgba(163, 138, 98, 0.5);
    content: "✔";
    font-size: 15px;
    color: white;
    text-align: center;
    line-height: 25px;
}

/* ------------------- */

.dtls p {
    color: black;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
}

.dtls span {
    font-size: 20px;
}

#count1 , #count2 {
    width: 50px;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    border: 0;
    background-color: rgba(245, 239, 233, 1);
}

.count1 button ,
.count2 button {
    border: none;
    width: 30px;
    height: 30px;
    font-size: 18px;
    background-color:rgba(163, 138, 98, 1);
    color: white;
    border-radius: 10px;
}

.dtls .pd_info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.dtls .pd_pic {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.dtls .cancel1 ,
.dtls .cancel2 {
    width: 35px;
    height: 35px;
    border: none;
    background-color: rgba(207, 191, 168, 0.5);
    border-radius: 10px;
}

/* ---------------- */

.total_wrap {
    border-top: 1px solid rgba(78, 56, 27, 0.2) ;
    margin-top: 40px;
}

.total3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 40px;
    margin-right: 7%;
}

.total_txt {
    padding: 0px 10px;
}

.total2 p {
    color: black;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
}

/* ----------加購品------------ */

.main_add {
    border-bottom: 1px solid rgba(78, 56, 27, 0.2) ;
    margin: 100px 0px;
}

.add_item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: rgba(163, 153, 128, 1);
    padding: 30px 0px;
    margin-bottom: 80px;
}

.add_txt p {
    font-size: 24px;
    color: white;
    text-align: center;
    letter-spacing: 1px;
}

.add_pds {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

.pd_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}

.pd_card a {
    text-decoration: none;
}

.pd_card .pd_img{
    padding-bottom: 10px;
}

.pd_img img {
    width: 100%;
    vertical-align: middle;
}

.pd_tdl .name {
    font-size: 20px;
    color: rgba(37, 25, 10, 1);
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.pd_tdl .price {
    font-size: 20px;
    color: rgba(154, 95, 0, 1);
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.pd_card button {
    width: 180px;
    height: auto;
    padding: 5%;
    border-radius: 10px;
    border: 0;
    background-color: rgba(163, 138, 98, 1);
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}

.pd_card button:hover {
    background-color: white;
    color: rgba(163, 138, 98, 1);
}

.rp_button {
    text-align: right;
    margin-right: 150px;
    margin-bottom: 60px;
}

.but_read_more {
    font-size: 20px;
    letter-spacing: 1px;
    color: rgba(78, 56, 27, 1);
    border:0;
    border-radius: 10px;
    background-color:rgba(207, 191, 168, 1);
    width: 250px;
    height: 60px;
}

.but_read_more:hover {
    color:rgba(207, 191, 168, 1);
    background-color: rgba(78, 56, 27, 1);
}

/* ----------------------- */

.order_info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.way {
    width: 50%;
    background-color: rgba(163, 138, 98, 0.3);
    border-radius: 10px;
}

.way_title {
    font-size: 20px;
    text-align: center;
    color: rgba(37, 25, 10, 1);
    letter-spacing: 1px;
    margin: 30px 0px;
}

.way_del {
    border-top: 1px solid rgba(78, 56, 27, 0.2) ;
    padding-top: 30px;
}

.way_del , .way_pay {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    text-align: left;
    color: rgba(37, 25, 10, 1);
    letter-spacing: 1px;
    padding-left: 20px;
}

.way select {
    width: 50%;
    height: 50px;
    background-color: rgba(245, 239, 233, 1);
    border: none;
    border-radius: 10px;
    margin: 10px;
}

.way_del select ,
.way_pay select {
    font-size: 20px;
    text-align: center;
    color: rgba(37, 25, 10, 1);
    letter-spacing: 1px;
}

.way_pay {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(78, 56, 27, 0.2) ;
}

.attention ul {
    font-size: 18px;
    color: rgba(37, 25, 10, 1);
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 30px;
    list-style-type: disc;
}

.attention ul li {
    margin: 20px;
}

/* --------------------- */

.order_dtl {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order_title {
    font-size: 20px;
    text-align: center;
    color: rgba(37, 25, 10, 1);
    letter-spacing: 1px;
    margin: 30px 0px;
}

.order_money {
    font-size: 20px;
    text-align: center;
    color: rgba(37, 25, 10, 1);
    letter-spacing: 1px;
    border-top: 1px solid rgba(78, 56, 27, 0.2) ;
}

.order_money > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5% 12.5%;
}

.use {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10%;
    margin-left: 15%;
}

.use #bonus_use {
    width: 240px;
    height: 50px;
    border: none;
    background-color: rgba(163, 138, 98, 1);
    font-size: 20px;
}

.use .enter {
    border: none;
    width: 80px;
    height: 50px;
    background-color: rgba(207, 191, 168, 1);
    border-radius: 10px;
    font-size: 20px;
    margin-left: 5px;
}

.end_money #end_m {
    border: none;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color:rgba(163, 138, 98, 1);
    border-radius: 10px;
    font-size: 24px;
    color: white;
}

.end_money #end_m:hover{
    color:rgba(163, 138, 98, 1);
    background-color: white;
}

/* -----手機版------ */

@media (width > 768px) {
    .point_m {
        display: none;
    }
}

@media (max-width:1024px) {
    .dtls .pd_pic {
        flex-wrap: wrap;
        gap: 5px;
    }

    .rp_button {
        text-align: center;
        margin: 50px;
    }

    .way {
        width: 60%;
    }
}

@media (max-width:768px) {
    .nav {
        margin-top: 45px;
    }

    .nav .buywhat , .info , .done {
        width: 80px;
        height: 20px;
        padding: 10px;
        margin: 0px 5px;
    }
    
    .nav p {
        font-size: 12px;
        color: rgba(37, 25, 10, 1);
        letter-spacing: 1px;
        text-align: center;
    }

    .point {
        display: none;
    }

    .cart_nav {
        margin: 40px 0px;
    }

    .cart_nav p {
        font-size: 20px;
    }

    .items {
        padding-bottom: 20px;
        justify-content: space-evenly;
    }

    .items p {
        font-size: 15px;
    }

    .cart_main .dtls {
        padding: 20px 0px;
        justify-content: space-evenly;
    }

    .dtls input[type="checkbox"] + label::before{
        width: 15px;
        height: 15px;
    }
    
    .dtls input[type="checkbox"]:checked + label::before {
        font-size: 10px;
        line-height: 15px;
    }

    .dtls .pd_pic img {
        width: 100%;
    }

    .dtls p {
        font-size: 12px;
    }

    .dtls span {
        font-size: 15px;
    }

    #count1 , #count2 {
        width: 15px;
        font-size: 15px;
    }
    
    .count1 button ,
    .count2 button {
        width: 18px;
        height: 18px;
        font-size: 12px;
        border-radius: 5px;
    }

    .dtls .cancel1 ,
    .dtls .cancel2 {
        width: 20px;
        height: 20px;
        font-size: 10px;
    }

    .total2 p {
        font-size: 12px;
    }

    .total_wrap {
        margin-top: 10px;
    }

    .main_add {
        margin: 30px 0px;
    }

    .add_pds {
        flex-direction: column;
        gap: 30px;
    }

    .add_item {
        margin-bottom: 40px;
    }

    .add_txt p {
        font-size: 20px;
    }

    .pd_tdl .name {
        font-size: 15px;
    }
    
    .pd_tdl .price {
        font-size: 15px;
        padding-bottom: 15px;
    }

    .order_info {
        flex-direction: column;
    }

    .way {
        width: 95%;
    }

    .way_del, .way_pay {
        font-size: 18px;
    }

    .attention ul {
        font-size: 15px;
    }

    .order_info {
        margin-top: 50px;
    }

    .order_dtl {
        width: 95%;
    }

    .end_money #end_m {
        font-size: 20px;
    }

    .way_title , .order_title {
        font-size: 18px;
    }

    .way_del select , .way_pay select {
        font-size: 15px;
        text-align: center;
        color: rgba(37, 25, 10, 1);
        letter-spacing: 1px;
    }

}