#nav_switch {
    display: none;
}

/* ------漢堡------ */

.hb {
    order: 0;
    width: 50px;
    height: 50px;
    background-color: hsl(37, 34%, 72% , 0.7);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hb span {
    width: 80%;
    height: 2px;
    margin: 3px auto;
    background-color: #fff;
}

/* -----手機版導覽列----- */

.nav_m {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: hsl(37, 34%, 72% , 1);
    color: white;
    left: -100%;
    transition: 0.5s;
    text-align: center;
}

.nav_m a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 20px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* ------手機版設定------ */

@media (width > 1024px) {
    .hb {
        display: none;
    }
}

@media ( max-width:1024px ) {
    .nav_list {
        display: none;
    }

    header {
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 10%;
    }

    .icons {
        order: 2;
    }

    .logo {
        order: 1;
    }

    #nav_switch:checked ~ .nav_m {
        left: 0;
    }

    .nav_m a:hover{
        background-color: #fff;
        color: hsl(37, 34%, 72% , 1);
    }
}

@media ( max-width:768px ) {
    header {
        justify-content: center;
        align-items: center;
        gap: 5%;
    }

    .nav_list {
        display: none;
    }

    .icons {
        order: 2;
    }

    .logo {
        order: 1;
        padding-left: 25px;
    }

    .logo img {
        width: 80px;
    }

    #nav_switch:checked ~ .nav_m {
        left: 0;
    }

    .nav_m a:hover{
        background-color: #fff;
        color: hsl(37, 34%, 72% , 1);
    }

    .btt {
        margin: 10% 10% 5% 0%;
    }

    .btt p {
        font-size: 15px;
    }

    .btt img {
        width: 67.5px;
    }

    .contact , .follow {
        font-size: 15px;
        text-align: center;
        padding: 20px 0px;
    }

    .end {
        font-size: 12px;
        margin-top: 15px;
        text-align: center;
    }

}