#nav_switch {
    display: none;
}

/* ------漢堡------ */

.hb {
    order: 0;
    width: 50px;
    height: 50px;
    background-color: hsl(37, 34%, 72% , 0.7);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hb span {
    width: 80%;
    height: 2px;
    margin: 3px auto;
    background-color: #fff;
}

/* -----手機版導覽列----- */

.nav_m {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: hsl(37, 34%, 72% , 1);
    color: white;
    left: -100%;
    transition: 0.5s;
    text-align: center;
}

.nav_m a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 20px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* ------手機版設定------ */

@media (width > 768px) {
    .hs_img_txt_m {
        display: none;
    }
}

@media (width > 1024px) {
    .hb {
        display: none;
    }
}

@media ( max-width:1360px ) {
    .index_bg_2 img {
        width: 70%;
    }

    .index_bg_2 p {
        font-size: 32px;
        right: 45%;
    }
}

@media ( max-width:1024px ) {
    .index_bg_2 img {
        width: 50%;
    }

    .index_bg_2 p {
        font-size: 24px;
        right: 55%;
    }

    .nav_list {
        display: none;
    }

    header {
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        gap: 10%;
    }

    .icons {
        order: 2;
    }

    .logo {
        order: 1;
    }

    #nav_switch:checked ~ .nav_m {
        left: 0;
    }

    .nav_m a:hover{
        background-color: #fff;
        color: hsl(37, 34%, 72% , 1);
    }

    .hs_img_txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media ( max-width:768px ) {
    .index_bg_2 img {
        width: 50%;
    }

    .index_bg_2 p {
        font-size: 14px;
        right: 56%;
    }

    header {
        justify-content: center;
        align-items: center;
        gap: 5%;
    }

    .nav_list {
        display: none;
    }

    .icons {
        order: 2;
    }

    .logo {
        order: 1;
    }

    .logo img {
        width: 80px;
    }

    #nav_switch:checked ~ .nav_m {
        left: 0;
    }

    .nav_m a:hover{
        background-color: #fff;
        color: hsl(37, 34%, 72% , 1);
    }

    .banner_act .car , .money {
        text-align: center;
        padding: 10px 0px;
    }
    
    .banner_act img {
        padding-bottom: 10px;
    }

    .banner_act p{
        font-size: 12px;
    }

    .r_prd_txt , .hs_title , .store_title {
        font-size: 24px;
    }
    
    .r_prd_line1 , .r_prd_line2 , .hs_title_line1 , 
    .st_title_line1 , .st_title_line2 {
        width: 100px;
    }

    .r_prd_title , .st_title_lines , .hs_title_lines {
        gap:4%;
    }

    .activity {
        margin-top: 30px;
    }

    .activity p {
        font-size: 24px;
    }

    .hs_img_txt {
        display: none;
    }

    .hs_img_txt_m {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .hs_img_m a {
        display: inline-block;
    }
    
    .hs_txt_m {
        background-color: rgba(163, 138, 98, 0.5);
        border-radius: 20px;
        padding: 10px;
    }
    
    .hs_txt_m h1 {
        color: white;
        font-size: 18px;
        margin: 10px 0px 20px 0px;
        letter-spacing: 1px;
    }
    
    .hs_txt_m .hs_pdtext_m {
        color: white;
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 1.4;
    }
    
    .hs_txt_m .hs_price_m {
        color: rgba(154, 95, 0, 1);
        text-align: right;
        font-size: 16px;
        letter-spacing: 0.5px;
    }

    .hs_btn_left {
        margin-right: 10px;
    }

    .hs_btn_right {
        margin-left: 10px;
    }

    .btt {
        margin-right: 50px;
    }

    .btt p {
        font-size: 15px;
    }

    .btt img {
        width: 67.5px;
    }

    .st_name {
        font-size: 20px;
    }

    .st_info {
        font-size: 16px;
    }

    .contact , .follow {
        font-size: 15px;
        text-align: center;
        padding: 20px 0px;
    }

    .end {
        font-size: 12px;
        margin-top: 15px;
        text-align: center;
    }

}