body {
    font-family: 'Noto Sans TC', sans-serif;
}

.login_bg {
    max-width: 1920px;
    width: 100%;
    background-image: url(../img/login2.png), url(../img/login1.png), url(../img/login4.png), url(../img/login3.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left center , right top , right center , left bottom;
}

.login_title {
    display: flex;
    margin: 100px 0px 80px 0px;
}

.login_title .title{
    position: relative
}

.login_title .title > p{
    position: absolute;
    font-size: 32px;
    color: white;
    top: 45%;
    right: 40%;
}

/* ------------ */

.login_main {
    width: 100%;
    margin-bottom: 100px;
}

.login {
    margin: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 20px;
    background-color: rgba(229, 219, 206, 1);
    border-radius: 10px;
}

.login input {
    border: none;
}

.login label{
    font-size: 18px;
    color: rgba(37, 25, 10, 1);
    text-align: center;
    letter-spacing: 1px;
}

.user_account , .user_password {
    margin-left: -40px;
}

.user_account input ,
.user_password input {
    width: 250px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 10px;
    text-align: center;
    padding: 10px 20px;
}

.login_btn input {
    width: 280px;
    background-color: rgba(78, 56, 27, 1);
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    border-radius: 10px;
    text-align: center;
    padding: 10px 30px;
    margin: 10px 0px;
}

.login_btn input:hover {
    background-color: white;
    color: rgba(78, 56, 27, 1);
}

.forget_psw {
    padding-bottom: 10px;
}

.forget_psw a {
    display: block;
    width: 120px;
    text-decoration: none;
}

.forget_psw p{
    font-size: 18px;
    letter-spacing: 1px;
    color: rgba(78, 56, 27, 1);
    text-align: center;
}

.forget_psw p:hover{
    color: white;
}

.sign_up p {
    font-size: 18px;
    letter-spacing: 1px;
    color: rgba(78, 56, 27, 1);
    text-align: center;
}

.sign_btn input {
    width: 280px;
    color: white;
    font-size: 20px;
    background-color: rgba(78, 56, 27, 0.5);
    letter-spacing: 1px;
    border-radius: 10px;
    text-align: center;
    padding: 10px 30px;
}

.sign_btn input:hover {
    color: rgba(78, 56, 27, 1);
    background-color: white;
}

/* ---手機版---- */

@media (max-width:768px) {

    .login_bg {
        background-image: url(../img/login1.png), url(../img/login3.png);
        background-position: right top , left center;
    }

    .login_title {
        margin: 60px 0px 50px 0px;
    }
    
    .login_title .title{
        margin: auto;
    }
    
    .login_title .title > p{
        font-size: 24px;
    }

    .login_title img {
        width: 350px;
    }

    .login {
        width: 85%;
    }

    .user_account , .user_password {
        margin-left: -20px;
    }
}