body {
    background-color: rgba(245, 239, 233, 1);
    margin: auto;
    max-width: 1920px;
    width: 100%;
}

.bg_store1 {
    margin: auto;
    max-width: 1920px;
    width: 100%;
    background-image: url(../img/bg_1.png);
    background-position: right bottom ;
    background-repeat: no-repeat;
}

.header {
    width: 100%;
    display: flex;
    position: relative;
}

.header .logo {
    display: flex;
    margin: 10px 10px 0px 10px;
}

.header .logo a {
    width: 120px;
}

.header .nav_list {
    background-color: hsl(37, 34%, 72%);
    opacity: 0.7;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav_list li a {
    color: white;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'Noto Serif TC', serif;
}

.header .icons {
    display: flex;
}

.header .icons img {
    padding: 0 6px;
}

/* ------------------*/

