body {
    font-family: 'Noto Sans TC', sans-serif;
}

.ns_bg {
    max-width: 1920px;
    width: 100%;
    background-image: url(../img/ns_bg_1.png) , url(../img/ns_bg_4.png) , url(../img/ns_bg_5.png) , url(../img/ns_bg_3.png) , url(../img/ns_bg_6.png) , url(../img/ns_bg_2.png) , url(../img/ns_bg_7.png);
    background-size: auto ;
    background-repeat: no-repeat;
    background-position: right top , top , center , right bottom , left bottom , right center , left bottom;
}

/* ------------- */

.sale2 , .knowledges2 {
    display: flex;
    margin: 100px 0px;
}

.sale_title , .kl_title {
    position: relative ;
}

.sale_title p ,
.kl_title p {
    position: absolute;
    font-size: 32px;
    color: white;
    top:45%;
    left: 40%;
}

/* -------最新消息內容-------- */

.sale_card , .kl_card {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 5%;
}

.sale_card .title , 
.kl_card .title {
    font-size: 24px;
    color:rgba(78, 56, 27, 1);
    letter-spacing: 2px;
    padding: 20px 0px;
    border-bottom: 1px solid black;
}

.sale_card .main , 
.kl_card .main {
    font-size: 20px;
    color:rgba(78, 56, 27, 1);
    letter-spacing: 1px;
    line-height: 1.8;
    padding-bottom: 15%;
}

.kl_card .main {
    padding-top: 2%;
}

/* -------------頁碼按鈕---------------- */

.page_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    margin-bottom: 10%;
}

.page_btn button {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(207, 191, 168, 1);
}

.page_btn button a {
    display: block;
    width: 100%;
    text-decoration: none;
    margin: auto;
    color: rgba(78, 56, 27, 1);
    font-size: 24px;
    text-align: center;
}

.page_btn button:hover ,
.page_btn button:hover a {
    background-color: rgba(78, 56, 27, 1);
    color: rgba(207, 191, 168, 1);
}

/* ------手機版------ */

@media (max-width:768px) {
    .sale_title , .kl_title {
        margin: auto;
    }

    .sale_title p , .kl_title p {
        font-size: 24px;
    }

    .sale_title img , .kl_title img {
        width: 350px;
    }
}