body {
    font-family: 'Noto Sans TC', sans-serif;
}

/* <!-- ---------麵包屑 --> */

.wrap {
    margin: auto;
    padding: 3% 5%;
}

.breadcrumb {
    display: flex;
}

.breadcrumb li {
    padding: 0% 1%;
    list-style: none;
}

.breadcrumb a {
    text-decoration: none;
    font-size: 20px;
    color:rgba(207, 191, 168, 1);
    padding-left: 10px;
}

.breadcrumb a:hover ,
.breadcrumb li:last-child a {
    color: rgba(78, 56, 27, 1);
}

.breadcrumb li + li {
    padding-left: 0;
}

.breadcrumb li + li:before {
    content:'>';
}

/* ----------內容---------- */

.main_top {
    background-image: url(../img/info_5.png) , url(../img/info_2.png);
    background-position: right top ;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 3%;
}

.top_img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.big_img img {
    width: 100%;
}

.small_img img {
    width: 21%;
    padding: 10px 10px 0px 0px;
}

/* -----商品資訊---- */

.top_dtl {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pd_name {
    font-size: 24px;
    text-align: center;
    color: rgba(78, 56, 27, 1);
    margin: 30px 0px;
    letter-spacing: 1px;
}

.cp1 , .cp2 {
    font-size: 20px;
    text-align: center;
    color: rgba(37, 25, 10, 1);
    margin: 20px 0px;
    letter-spacing: 1px;
}

.detail {
    font-size: 20px;
    text-align: left;
    color: rgba(37, 25, 10, 1);
    border-top: 1px solid rgba(78, 56, 27, 0.5);
    border-bottom: 1px solid rgba(78, 56, 27, 0.5);
    padding: 30px;
    margin-bottom: 30px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.dtl_buy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dtl_buy label {
    font-size: 20px;
    color: rgba(37, 25, 10, 1);
    letter-spacing: 1px;
}

.spec button {
    width: 100px;
    height: auto;
    border: none;
    color: rgba(78, 56, 27, 1);
    background-color: rgba(207, 191, 168, 1);
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 20px;
    padding: 10px;
}

.count select {
    width: 200px;
    height: auto;
    color: rgba(78, 56, 27, 1);
    background-color: rgba(207, 191, 168, 1);
    border: none;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

#cart{
    width: 320px;
    height: auto;
    background-color: rgba(163, 138, 98, 1);
    color: white;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

#cart:hover {
    color: rgba(163, 138, 98, 1);
    background-color: white;
}

/* ---------中間區塊----------- */

.main_center {
    width: 100%;
    margin: auto;
    background-image: url(../img/info.png) , url(../img/info_3.png) ;
    background-position: left ;
    background-repeat: no-repeat;
    background-size: auto;
}

.main_center .item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.pic img{
    width: 100%;
}

.item :first-child {
    margin-right: -10%;
}

.txt:nth-child(1) {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.txt:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(78, 56, 27, 1);
}

.item .txt {
    width: 40%;
    padding: 50px 30px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    border-radius: 20px;
}

.item .txt p {
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 2;
    text-align: center;
}

.last {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5%;
}

.last img {
    width: 67.5%;
    height: auto;
}

.last .txt3 {
    font-size: 20px;
    line-height: 1.5;
    padding: 10px;
    margin: 2%
}

/* --------------------- */

.more {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

h1 {
    font-size: 24px;
    text-align: center;
    letter-spacing: 1px;
    color: rgba(78, 56, 27, 1);
    padding-top: 1%;
}

.pd_card {
    margin: 15px;
}

.pd_card a {
    text-decoration: none;
}

.pd_img {
    height: auto;
    vertical-align: middle;
    margin-bottom: 10px;
}

.pd_img {
    width: 100%;
}

.pd_tdl .name {
    font-size: 20px;
    color: rgba(37, 25, 10, 1);
    text-align: center;
    letter-spacing: 1px;
    margin: 20px 0px;
}

.pd_tdl .price {
    font-size: 20px;
    color: rgba(154, 95, 0, 1);
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.pd_card button {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    border: 0;
    background-color: rgba(163, 138, 98, 1);
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.pd_card button:hover {
    background-color: white;
    color: rgba(163, 138, 98, 1);
}

/* ----手機版-------- */

.more_m {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
}

.pd_card_m {
    margin: auto;
    margin: 10px;
}

.pd_card_m a {
    text-decoration: none;
}

.pd_tdl_m {
    padding-top: 5px;
}

.pd_tdl_m .name_m {
    font-size: 15px;
    color: black;
    text-align: center;
    padding-bottom: 5px;
}

.pd_tdl_m .price_m {
    font-size: 15px;
    color: rgba(154, 95, 0, 1);
    text-align: center;
}

.cart_m {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 0;
    background-color: rgba(163, 138, 98, 1);
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 15px 0px;
}

@media (width>768px) {
    .more_m {
        display: none;
    }
}

@media (max-width:768px) {
    .wrap {
        padding: 5% 5%;
    }

    .breadcrumb a {
        font-size: 15px;
    }

    .top_img {
        width: 67.5%;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }

    .small_img {
        width: 100%;
        padding-top: 5px;
    }

    .small_img img {
        width: 23.5%;
        padding: 0;
    }

    .top_dtl .pd_name {
        font-size: 18px;
        margin: 20px;
    }

    .cp1 , .cp2 {
        font-size: 16px;
        margin: 15px;
    }

    .detail {
        font-size: 16px;
        padding: 18px;
        margin-bottom: 20px;
        text-align: center;
    }

    .spec button {
        width: 80px;
        height: auto;
        font-size: 12px;
    }

    .count select {
        width: 160px;
        height: auto;
        font-size: 16px;
    }

    #cart {
        width: 280px;
        font-size: 16px;
    }

    .item .txt {
        width: 100%;
        padding: 10px;
    }

    .item .txt p {
        font-size: 12px;
        letter-spacing:1px;
        line-height: 2;
        text-align: left;
    }

    .main_center .item {
        margin: 15px;
    }

    .last .txt3 {
        padding: 15px;
        font-size: 16px;
        margin: 5%;
    }

    h1 {
        font-size: 20px;
        padding-top:2%;
    }

    .pd_card {
        margin: 5px;
    }

    .pd_card button {
        margin-bottom: 15px;
    }

    .pd_tdl .name {
        margin: 15px 0px;
    }

    .more {
        display: none;
    }
}