.pds_bg {
    max-width: 1920px;
    width: 100%;
    background-image: url(../img/pd_bg_4.png), url(../img/pd_bg_1.png), url(../img/pd_bg_2.png), url(../img/pd_bg_3.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right top, right top, left center, left bottom;
}

.products .products2 {
    display: flex;
    margin: 100px 0px 100px 0px;
}

.products .products2 .pds_title {
    position: relative
}

.products .products2 .pds_title>p {
    position: absolute;
    font-size: 32px;
    color: white;
    font-family: 'Noto Serif TC', serif;
    top: 90px;
    right: 220px;
}

.prd_category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.prd_category p {
    font-size: 32px;
    font-family: 'Noto Serif TC', serif;
    letter-spacing: 2px;
    text-align: center;
    padding: 30px 0px;
    color: rgba(37, 25, 10, 1);
}

.prd_category .prd_top {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    margin: 30px;
}

.prd_category .prd_top a {
    display: block;
    text-decoration: none;
}

.prd_category .prd_bottom a {
    display: block;
    text-decoration: none;
}

.prd_category .prd_bottom {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    margin: 10px 0px 120px 0px;
}