body {
    font-family: 'Noto Sans TC', sans-serif;
}

.pds_bg {
    max-width: 1920px;
    width: 100%;
    background-image: url(../img/pd_bg_4.png), url(../img/pd_bg_1.png), url(../img/pd_bg_2.png), url(../img/pd_bg_3.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right top, right top, left center, left bottom;
}

/* -----圖片hover------- */

.prd_bottom img {
    transition: transform 0.3s;
}

.prd_top img {
    transition: transform 0.3s;
}

.prd_top img:hover {
    transform: scale(1.1);
}

.prd_bottom img:hover {
    transform: scale(1.1);
}

/* -------標題-------- */

.products2 {
    display: flex;
    margin: 60px 0px 50px 0px;
}

.pds_title {
    position: relative ;
}

.pds_title img {
    width: 100%;
}

.pds_title p {
    position: absolute;
    font-size: 32px;
    color: white;
    top:45%;
    left: 40%;
}

/* --------類別--------- */

.prd_category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.prd_category a {
    width: 100%;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 32px;
    letter-spacing: 2px;
    text-align: center;
    padding: 30px 0px;
    color: rgba(37, 25, 10, 1);
}

.prd_top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.prd_bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    padding-top: 20px;
    gap: 2%;
}

/* -------手機版----- */

@media (max-width:768px) {
    .pds_title {
        margin: auto;
    }

    .pds_title p {
        font-size: 24px;
    }

    .pds_title img {
        width: 350px;
    }

    .prd_category img {
        width: 50%;
    }    

    .prd_category a {
        font-size: 24px;
    }
}