.qa_top {
    width: 100%;
    display: flex;
    margin: 100px 0px;
}

.qa_title {
    position: relative;
}

.qa_title img {
    width: 100%;
}

.qa_title p {
    position: absolute;
    font-size: 32px;
    color: white;
    letter-spacing: 1px;
    top: 45%;
    right: 35%;
}

/* -------sidebar------ */

.qa_main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.qa_sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qa_sidebar button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 80px;
    background-color: rgba(207, 191, 168, 1);
    border-radius: 0px 20px 20px 0px;
    border: 0;
    margin: 10px;
    font-size: 24px;
    color: rgba(78, 56, 27, 1);
    text-align: center;
}

/* --------內容--------- */

.qa_container {
    width: 50%;
    background-color: rgba(207, 191, 168, 0.5);
    padding: 20px;
}

